.btn {
  background-color: $primary;
  border: none;
  color: #fff;
  padding: 0.5rem 7rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-family: "SevenOneEight";
  font-size: 12pt;
  font-weight: 300;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: darken($primary, 10%);
  transform: scale(1.1);
}
