$card-border-radius: 5px;

.card {
  position: relative;
  background-color: #fff;
  border: 1px solid rgba($dark, 0.2);
  border-radius: $card-border-radius;
}

.card-body {
  padding: 1rem;
}

.card-thumbnail-container {
  position: relative;
  height: 200px;
  width: 100%;
}

.card-thumbnail {
  z-index: -1;
  border-top-right-radius: $card-border-radius;
  border-top-left-radius: $card-border-radius;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-thumbnail-info {
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.card-title {
  font-family: $heading-font-stack;
  font-weight: 700;
  font-size: 12pt;
  line-height: 0;

  span {
    font-family: $text-font-stack;
    font-weight: 300;
  }
}

.card-info {
  font-weight: 300;
  font-size: 10pt;
  line-height: 3rem;
}

.card-rating {
  margin-left: 0.1rem;
  font-size: 10px;
}

.card-badges {
  display: flex;

  .card-badge {
    color: #fff;
    font-size: 8pt;
    font-weight: 300;
    padding: 3px 7px;
    text-transform: uppercase;
    margin-right: 0.5rem;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
  }

  .premium {
    background-color: $dark;
  }

  .option {
    background-color: $secondary;
  }
}

.card-link {
  @include flex-content(row, center, center);
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  text-decoration: none;
  height: 2rem;
  width: 2rem;
  color: #fff;
  background-color: $primary;
  transition: 0.1s;
}

.card-link:hover {
  transform: scale(1.1);
}
