select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  font-family: "SevenOneEight";

  font-size: 12pt;
  text-transform: uppercase;
  border: 1px solid rgba($dark, 0.1);
  border-radius: 0;
  padding: 0.5rem 1rem;

  option {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: "SevenOneEight";
    text-transform: uppercase;
  }
}

select:focus,
select:active {
  outline: none;
}

.form-group {
  display: inline;
  vertical-align: middle;
}
