// Align Content Mixin
@mixin flex-content($direction, $justify, $items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $items;
}

// Media Queries Mixin
@mixin responsive($point) {
  @if $point == desktop {
    @media (max-width: 2560px) {
      @content;
    }
  } @else if $point == laptop {
    @media (max-width: 1440px) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: 768px) {
      @content;
    }
  }
}
