// Colors :
$primary: #ed3323;
$secondary: #bd9c6a;
$light: #efefef;
$dark: #333333;

// Font Stack
$text-font-stack: "SevenOneEight";
$heading-font-stack: "Playfair Display", serif;

// Code (monospace) font familyt
$code-font-stack: "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
  "Monaco", monospace !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;
