@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

// Light
@font-face {
  font-family: "SevenOneEight";
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/SevenOneEight-Light.ttf") format("truetype");
}
// Normal
@font-face {
  font-family: "SevenOneEight";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/SevenOneEight-Book.ttf") format("truetype");
}
// Medium
@font-face {
  font-family: "SevenOneEight";
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/SevenOneEight-Medium.ttf") format("truetype");
}
// Bold
@font-face {
  font-family: "SevenOneEight";
  font-weight: 800;
  font-style: normal;
  src: url("../../fonts/SevenOneEight-ExtraBold.ttf") format("truetype");
}
// Black
@font-face {
  font-family: "SevenOneEight";
  font-weight: 900;
  font-style: normal;
  src: url("../../fonts/SevenOneEight-Black.ttf") format("truetype");
}
