footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $dark;
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
  animation: slide-up 0.5s ease-in-out;

  span:last-child {
    padding: 0.5rem 0rem;
    border-bottom: 3px solid $primary;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
