header {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  h1 {
    font-family: $heading-font-stack;
    font-weight: bolder;
    color: $primary;
  }
  p {
    padding: 0.5rem 0rem;
    position: relative;
  }
  p:last-child::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    width: 100px;
    height: 3px;
    background-color: $dark;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}
