// Main Section
section {
  padding: 2rem 0rem;
}

// Section Destinations
#section-destinations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

@include responsive(tablet) {
  #section-destinations {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@include responsive(mobile) {
  #section-destinations {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}

// Section Info
#section-info {
  @include flex-content(column, center, center);
  text-transform: uppercase;
  line-height: 1.5rem;

  p:last-child {
    position: relative;
  }
  p:last-child::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    width: 100px;
    height: 3px;
    background-color: $dark;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

// Section Subscription
#section-subscription {
  .subscription-header {
    @include flex-content(column, center, center);
    padding: 1.5rem 0rem;
    background-color: $primary;
    color: #fff;
    text-align: center;

    span:first-child {
      font-family: $heading-font-stack;
      font-weight: bolder;
    }
    p {
      margin-top: 0.5rem;
      font-weight: 300;
      font-size: 10pt;
      a {
        color: #fff;
      }
    }
  }
}
.subscription-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}
@include responsive(mobile) {
  .subscription-body {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }
}

.step {
  @include flex-content(row, center, center);
  padding: 5rem 0rem;
}

@include responsive(mobile) {
  .step {
    @include flex-content(row, start, center);
    padding: 0rem 0rem;
  }
  .step:nth-child(-n + 2) {
    .step-number::after {
      content: "";
      position: absolute;
      transform-origin: bottom;
      width: 3px;
      height: 100%;
      z-index: -1;
      bottom: 0;
      margin: auto;
      left: 0;
      right: 0;
      background-color: $dark;
    }
  }
}

.step-number {
  position: relative;
  color: $primary;
  font-size: 4em;
  font-weight: bolder;
}
.step-content {
  @include flex-content(column, center, start);
  margin-left: 0.5rem;
  text-transform: uppercase;
  strong {
    color: $primary;
  }
}

.subscription-footer {
  text-align: center;
}
